body {
  width: 100vw;
  overflow-x: hidden;
}
canvas {
    top: 450px !important;
    z-index: -1;
    opacity: 1;
    height: 100vh;
    width: 90vw;
}
.page__section--main {
  height: 370px;
  min-height: 370px;
}
.page__slider-content {
  height: 370px;
  min-height: 370px;
}
.page__section--main .page__title h1 {
  font-size: 26px;
  text-align: center;

  span {
    font-size: 26px;
  }
}
.page__title h3 {
  font-size: 26px;
  font-weight: 600;
}
.page__buttons-container .page__nav-button {
  width: 100%;
  margin-bottom: 20px;
}
.page__title--lg, .page__title h2 {
  font-size: 26px;

  span {
    font-size: 26px;
  }
}
.page__content--desires {
  margin-top: 20px;
}
.page__last-container {
  width: 100%;
}
.page__main-camry-logo {
    background: url(/app/img/logo/shine.png) center/90% no-repeat;
    margin-bottom: 0;
}
.page__section--main {
    height: 420px;
}
.page__slider-content {
    height: 420px;
}
.page__title--lg, .page__title h2 {
    font-size: 32px;
}
.page__title--sm, .page__title h4 {
    font-size: 26px;
    font-weight: 800;
}
.page__feature .page__text--md[data-color="white"] {
  color: $brand-gray;
}
.page__section--main {
    background: #010204;
}
.page__main-camry-logo {
    top: -50px;
}
.page__slider-content {
    height: 100%;
}
.page__section--main .page__buttons-container {
    margin: 0 auto;
    min-height: 140px;
}
.page__section--main {
    height: 500px;
}
.page__last-container {
    padding: 187px 20px 40px;
}
.page__about-7 {
    background: url(/app/img/photos/bg_01_lastpage.jpg) top center/100% no-repeat, #edeced;
}
.page__section[data-section="2"] {
  br {
    display: block;
  }
}
.page__about-7 {
    background: url(/app/img/photos/bg_01_lastpage-mob.jpg) top center/100% no-repeat, #edeced;
}
