.page__section {
  &--fullpage {
    height: initial;
  }
}
.page__features-tab {
  font-size: 12px;
}
.page__content {
  &--desires-block {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      width: 100%;
    }
    &:nth-of-type(2) {
      display: none;
    }
  }
}
.page__features-block .page__feature {
  padding: 50px 20px;
}
.page__menu-column:nth-of-type(1) {
  width: 80%
}
.page__menu-column:nth-of-type(2) {
  width: 20%;
}