// Variables and mixins
@import "_mixins";
@import "variables";

// Partial
@import "../partials/device-default/reset";
@import "../partials/device-default/page";
@import "../partials/device-default/typography";
@import "../partials/device-default/objects";
@import "../partials/device-default/custom";
@import "../partials/device-default/popups";
@import "../partials/device-default/menu";
@import "../partials/device-default/footer";
@import "../partials/device-default/inputs";
@import "../partials/device-default/slider";

// Media

// Default devices (default, 1200px and up)
@media (max-width: $device-default) {
  /*@import "../partials/device-default/page";*/
}

// Large devices (desktops, 992px and up)
@media (max-width: $device-large) {
  @import "../partials/device-large/page";
}

// Medium devices (tablets, 768px and up)
@media (max-width: $device-medium) {
  @import "../partials/device-middle/page";
}

// Small devices (landscape phones, 576px and up)
@media (max-width: $device-small) {
  @import "../partials/device-small/page";
}

// Thin devices (landscape phones, 576px and up)
@media (max-width: $device-thin) {
  @import "../partials/device-thin/page";
}