.page__footer {
    height: 400px;
    padding: 80px 0;
    background: #1a1a1a;

    footer {
      width: 1200px;
      margin: 0 auto;
    }
}
.footer__rows {
  font-size: 0;

  &-row {
    &:nth-of-type(1){
      width: 50%;
      display: inline-block;
    }
    &:nth-of-type(2){
      width: 30%;
      display: inline-block;
      float: right;
      text-align: right;
    }
  }
}
.footer__faq {
  &-block {
      padding: 8px 0;
  }
  &-title,
  &-text {
    font-size: 14px;
    color: #fff;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;

    span {
      color: $brand-red;
      font-weight: 700;
    }
  }
  &-text {
    display: none;
  }
  &-title {
      position: relative;
      display: inline-block;
      border-bottom: 1px solid red;
      padding-bottom: 4px;
      padding-right: 20px;
      margin-bottom: 4px;
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;

      &.open {
        ~ .footer__faq-text {
          display: block
        }
      }

      &:after {
          content: '';
          position: absolute;
          right: 0;
          height: 15px;
          width: 16px;
          background: url(/app/img/ico/ico_arrow_right-small.png) center/8px no-repeat;
          transition: all .3s ease-in-out;
      }
      &.active {
        &:after {
          transform: rotate(90deg);
        }
      }
  }
}
.footer__logo {
    width: 100px;
    height: 84px;
    background: url(/app/img/logo/logo-toyota-sm.png) center/cover no-repeat;
    margin: 0 0 20px auto;
}
.footer__copyright {
    font-size: 12px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    opacity: .2;
    line-height: 1.6;
}
.footer__soc-link {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 0 20px 10px;
    cursor: pointer;

    &:nth-of-type(1) {
      background: url("/app/img/ico/instagram.svg") center/30px no-repeat;
    }
    &:nth-of-type(2) {
      background: url("/app/img/ico/facebook.svg") center/30px no-repeat;
    }
}
