body {
  overflow-x: hidden;
}
canvas {
    top: 100vh !important;
    z-index: -1;
    opacity: 1;
}
.page__main-camry-logo {
  width: 100%;
  height: 60px;
  background: url(/app/img/logo/shine.png) center/70% no-repeat;
  margin-bottom: 70px;
}
.page__section {
  position: relative;
  overflow: hidden;
  z-index: 1;

  &--fullpage {
    height: 100vh;
    min-height: 700px;
  }
  &--halfpage {
    height: 350px;
    font-size: 0;
  }
  &--gray {
    background: #2a2a2a;
  }
  &--red {
    background: $brand-red;
  }
  &--main {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    background: #3a3a3a;
    min-height: 700px;
  }
}
.page__absolute {
  &-elements {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    z-index: 0;
  }
  &-text {
    position: absolute;
    color: #fff;

    &--hashtag {
      span:nth-of-type(1) {
        font-size: 20px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        color: #ff1313;
      }
    }
    &--main {
      span:nth-of-type(2),
      span:nth-of-type(3) {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
      }
      span:nth-of-type(2) {
        font-weight: 700;
      }
      span:nth-of-type(3) {
        font-weight: 400;
      }
    }
    &--secondary {
      span:nth-of-type(1),
      span:nth-of-type(2) {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
      }
      span:nth-of-type(1) {
        font-weight: 400;
      }
      span:nth-of-type(2) {
        font-weight: 700;
      }
    }
  }
  &-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  &-sliderNumber {
    position: absolute;
    right: -7px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    transform: rotate(90deg);

    span:nth-of-type(1) {
        color: $brand-red;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -5px;
    }
  }
  &-arrowDown {
    position: absolute;
    left: -20px;
    bottom: 20px;
    width: 80px;
    height: 40px;
    background: url("/app/img/ico/ico_arrow_left.svg") center/64px no-repeat, transparent;
    transform: rotate(-90deg);
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: url("/app/img/ico/ico_arrow_left.svg") center/64px no-repeat, rgba(255, 255, 255, .2);
    }
  }
}
.page__buttons-container {
  max-width: 600px;
  height: 60px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 0;
  margin-top: 70px;

  .page__nav-button {
    color: #fff;
    display: inline-block;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 3.65;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid $brand-red;

    &:nth-of-type(1) {
      background: #2a2a2a;

      &:hover {
        background: #383838;
      }
    }
    &:nth-of-type(2) {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid $brand-red;
      border-left: 0;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
.page__slider {
  &--main {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &-content {
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 700px;

    &[data-image="1"] {
      background: url("/app/img/photos/bg_01_mainpage_slide_01.jpg") center/cover no-repeat;
    }
    &[data-image="2"] {
      background: url("/app/img/photos/bg_01_mainpage_slide_02.jpg") center/cover no-repeat;
    }
    &[data-image="3"] {
      background: url("/app/img/photos/bg_01_mainpage_slide_03.jpg") center/cover no-repeat;
    }
  }
}
.page__half-group {
    display: inline-block;
    width: 50%;
    height: 350px;
    float: left;
}
.page__content {
  &--desires {
    font-size: 0;
    margin-top: 80px;

    &-block {
      position: relative;
      float: left;
      display: inline-block;

      &:nth-of-type(1) {
          width: 60%;
      }
      &:nth-of-type(2) {
          width: 40%;

          img {
            position: absolute;
            width: 800px;
            top: -20px;
            left: 0;
            z-index: -1;
            transform: scale(-1, 1);
          }
      }
    }
  }
  &--half-wrapper {
      position: relative;
      max-width: unquote("calc(1200px / 2)");
      height: 100%;
      margin: 0 0 0 auto;
      padding: 0 30px;
      padding-right: 70px;

      &--reverse {
        margin: 0;
        padding: 0;
        margin-left: 70px;
      }
  }
}
.page__aligment {
    display: table;
    height: 350px;
    width: 100%;

    .page__bottom-aligment,
    .page__center-aligment {
      display: table-cell;
      padding-bottom: 80px;
      padding-top: 80px;
    }
    .page__bottom-aligment {
        vertical-align: bottom;
    }
    .page__center-aligment {
        vertical-align: middle;
    }
}
.page__container {
    display: table;
    height: 100%;
    width: $device-default;
    margin: 0 auto;
    padding: 0 30px;

    .page__vertical-aligment {
      display: table-cell;
      vertical-align: middle;
    }
}
.page__features {
  &-tabs {
      width: 100%;
      height: 60px;
      display: table;
      border-bottom: 1px solid $brand-red;

      input[type="radio"] {
        display: none;

        &:checked + label {
          background: $brand-gray;
          border-color: $brand-gray;
          color: $brand-white;
        }
      }
  }
  &-tab {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d5d5d5;
    border-bottom: 0;
    border-left: 0;
    color: $brand-gray;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    &:nth-of-type(1) {
      border-left: 1px solid #d5d5d5;
    }
  }
}
.page__features-block {
  .page__feature {
    width: 100%;
    height: 350px;
    display: none;
    padding: 90px 130px;

    &[data-status="active"] {
      display: block;
    }

    @for $i from 1 through 7 {
      &[data-block="#{$i}"] {
        background: url("/app/img/photos/img_feature_0#{$i}.jpg") center/cover no-repeat;
      }
    }
  }
}
.page__slider-button-next.js-goto-slider {
    width: 100px;
    height: 60px;
    position: absolute;
    background: url("/app/img/ico/ico_arrow_right.png") center/70px no-repeat, transparent;
    bottom: 10px;
    left: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.page__section {
  &--gray {
    .page__slider-button-next.js-goto-slider:hover {
      background: url("/app/img/ico/ico_arrow_right.png") center/70px no-repeat, rgba(255, 255, 255, 0.1);
    }
  }
  &--red {
    .page__slider-button-next.js-goto-slider:hover {
      background: url("/app/img/ico/ico_arrow_right.png") center/70px no-repeat, rgba(42, 42, 42, .1);
    }
  }
}
.page__last-container {
    position: relative;
    width: $device-default;
    margin: 0 auto;
    padding: 200px 20px;
    z-index: 10;
}
.page__about-7 {
  background: url("/app/img/photos/bg_01_lastpage.jpg") center/cover no-repeat;
}
.page__image {
  &--half {
    @for $i from 1 through 4 {
      &-img0#{$i} {
        position: relative;
        background: url("/app/img/photos/img_half-slide_0#{$i}.jpg") center/cover no-repeat;
      }
    }
  }
}
.u {
  &-top-right-rotated {
    right: -58px;
    top: 120px;
    transform: rotate(90deg);
  }
  &-left-bottom-rotated {
    left: -60px;
    bottom: 0;
    transform: rotate(-90deg);
  }
}
.u-mob-device {
  display: none;
}
.page__features-block .page__text {
  line-height: 1.3;
}