* {
  br {
    display: none;
  }
}
canvas {
    top: 700px !important;
}
.page__content--half-wrapper--reverse {
  margin-left: 30px;
}
.u {
  &-top-right-rotated,
  &-left-bottom-rotated,
  &-top-left {
    display: none;
  }
}
.page__features-block {
  .page__feature {
    display: block;
    height: initial;
    padding-bottom: 30px;
    padding: 0;

    @for $i from 1 through 7 {
      &[data-block="#{$i}"] {
        background: transparent;
      }
    }
    .page__title,
    .page__text {
      &[data-color="white"] {
        color: $brand-gray;
      }
    }
  }
}
.page__absolute-sliderNumber {
  display: none;
}
.page__buttons-container {
  margin-top: 20px;
}
.page__absolute-elements {
  padding: 30px 0;
}
.page__slider-content {
  height: 300px;
  min-height: 300px;
}
.page__absolute-arrowDown {
  display: none;
}
.page__section--main {
  min-height: 300px;
  height: 300px;

  .page__title {
    h1 {
      font-size: 40px;
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
}
.page__slider-buttons {
  &--group {
    display: none;
  }
}
.page__half-group {
  width: 100%;
}
.page__section--halfpage {
  height: initial;
}
.u-desk-device {
  display: none;
}
.u-mob-device {
  display: block;
}
.page__features-tabs {
  display: none;
}
.page__section--main {
    min-height: 300px;
    height: 600px;
}
.page__slider-content {
    height: 600px;
    min-height: 300px;
}
.page__last-container {
    width: 100%;
}
.page__text--md {
  line-height: 1.5;
}
.u-mob-height {
    height: 160px;
}
.page__about-7 {
    background: url(/app/img/photos/bg_01_lastpage.jpg) 80% center/cover no-repeat;
}
.page__slider-content[data-image="1"] {
    background: url(/app/img/photos/bg_01_mainpage_slide_01.jpg) center top/100% no-repeat;
}
